@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'LangithItalic';
  src: url('/font/Langith Thin.otf') format('opentype');
} */

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
  }
}

*{
    padding: 0;
    margin: 0;
    /* font-family: 'LangithItalic', sans-serif; */
    color: black;
}

section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.gradient{
    background: linear-gradient(180deg, rgba(255, 0, 0, 0) 0%, 
                                        rgba(246, 246, 246, 0.01) 6.67%, 
                                        rgba(246, 246, 246, 0.04) 13.33%, 
                                        rgba(246, 246, 246, 0.08) 20%, 
                                        rgba(246, 246, 246, 0.15) 26.67%, 
                                        rgba(246, 246, 246, 0.23) 33.33%, 
                                        rgba(246, 246, 246, 0.33) 40%, 
                                        rgba(246, 246, 246, 0.44) 46.67%, 
                                        rgba(246, 246, 246, 0.56) 53.33%,    
                                        rgba(246, 246, 246, 0.67) 60%, 
                                        rgba(246, 246, 246, 0.77) 66.67%, 
                                        rgba(246, 246, 246, 0.85) 73.33%, 
                                        rgba(246, 246, 246, 0.92) 80%, 
                                        rgba(255, 255, 255, 0.96) 89.67%, 
                                        rgb(255, 255, 255) 93.33%, 
                                        #ffffff 100%)
}
.container {
    max-width: 1136px;
}
.locos{
    -webkit-filter: blur(72px);
    background-color: var(--token-944150f7-6e9a-4c8e-afad-1322a23c5add, #C86DBD);
    border-radius: 1000px;
    filter: blur(72px);
    flex: none;
    height: 575px;
    left: calc(15.750000000000023% - 769px / 2);
    opacity: .15;
    overflow: hidden;
    position: absolute;
    top: calc(-2.8077753779697403% - 575px / 2);
    width: 769px;
    will-change: var(--framer-will-change-override, transform);
    z-index: 1;
}
.locos2{
    -webkit-filter: blur(72px);
    background-color: var(--token-99a5995e-363d-41dd-a597-6f215825cbc9, #d4bdff);
    border-radius: 1000px;
    filter: blur(72px);
    flex: none;
    height: 637px;
    left: calc(95.750000000000023% - 769px / 2);
    opacity: .27;
    overflow: hidden;
    position: absolute;
    top: calc(2.8077753779697403% - 575px / 2);
    width: 465px;
    will-change: var(--framer-will-change-override, transform);
    z-index: 1;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.animate-marquee {
  animation: marquee var(--duration, 40s) linear infinite;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration, 40s) linear infinite;
}


@media screen and (max-width: 1024px) {
  body{
    padding: 0rem 1.5rem;
  }
}
