@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
  }
}

*{
    padding: 0;
    margin: 0;
    color: black;
}
body{
  background: #fff1fd;
  overflow-x: hidden;
}

section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.locos{
    -webkit-filter: blur(72px);
    background-color: var(--token-944150f7-6e9a-4c8e-afad-1322a23c5add, #C86DBD);
    border-radius: 1000px;
    filter: blur(72px);
    flex: none;
    height: 575px;
    left: calc(15.750000000000023% - 769px / 2);
    opacity: .15;
    overflow: hidden;
    position: absolute;
    top: calc(-2.8077753779697403% - 575px / 2);
    width: 769px;
    will-change: var(--framer-will-change-override, transform);
    z-index: 1;
}
.locos2{
    -webkit-filter: blur(72px);
    background-color: var(--token-99a5995e-363d-41dd-a597-6f215825cbc9, #d4bdff);
    border-radius: 1000px;
    filter: blur(72px);
    flex: none;
    height: 437px;
    left: calc(95.750000000000023% - 769px / 2);
    opacity: .27;
    overflow: hidden;
    position: absolute;
    top: calc(2.8077753779697403% - 175px / 2);
    width: 465px;
    will-change: var(--framer-will-change-override, transform);
    z-index: 1;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.animate-marquee {
  animation: marquee var(--duration, 40s) linear infinite;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration, 40s) linear infinite;
}


@media screen and (max-width: 1024px) {
  body{
    padding: 0rem 1.5rem;
  }

  .locos{
    display: none;
  }
  .locos2{
    display: none;
  }
}
